{{!-- <div>
  <h2>Productos del carrito con el id {{cart._id}}</h2>
  {{#each cart.products}}
    <div class="card ">
      <p> {{this.product.title}}</p>
      <p>Cantidad: {{this.quantity}}</p>
    </div>
  {{/each}}
</div> --}}

  <h2 class="text-center mb-4">Productos del carrito con el ID: {{cart._id}}</h2>
  
    {{#each cart.products}}
  <div class="col-sm-6 mb-3  mx-auto mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{this.product.title}} - ${{this.product.price}}</h5>
        <p class="card-text">Cantidad: {{this.quantity}}</p>
      </div>
    </div>
    </div>
    {{/each}}
